body {
    font-family: Arial, sans-serif;
  }
  .calculator {
    width: 220px;
    margin: 50px auto;
    padding: 20px;
    background-color: gray;
    border-radius: 5px;

  }
  .calculator input[type="button"] {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .result {
    margin-bottom: 10px;
    font-size: 24px;
  }